<style>
.input-text{
    text-transform:none !important;
}
.success{
    color:green;
    font-size: medium;
}
</style>

<ion-view>
    <ion-content class="nav-2">  
        <div class="">
            <div ng-include src="'app/directives/headerNoAuthenticated.html'"></div>

           <div class="row signup-row login-row">
<div class="col-sm-12">

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">  <p class="text-danger" id="login-errors"></p> </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4 signup-box bg-white">

            <form ng-submit="frgtpwd.$valid ?  request(lgn) : ''" name="frgtpwd" novalidate >
                <div class="col-lg-12 col-md-12 col-sm-12" id="step-1">

                   <div style="padding-bottom: 15px;"> <span style="font-size:25px;">Forgot Password</span></div>
                   
                     <p class="text-danger" id="register-errors"></p>
                     
                    <div class="input-group" ng-class="(frgtpwd.Email.$invalid && frgtpwd.Email.$dirty)  || ( frgtpwd.Email.$pristine && frgtpwd.$submitted) ? '': 'cnt'">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control input-text " placeholder="Email" name="Email" ng-model="lgn.EmailId" ng-required="true" >
                   <!--     <p class="help-block text-left" ng-show="frmLogin.Username.$invalid && !frmLogin.Username.$pristine">User Name is required</p> -->
                    </div>
                     <div ng-if="(frgtpwd.Email.$invalid && frgtpwd.Email.$dirty)  || ( frgtpwd.Email.$pristine && frgtpwd.$submitted)" ng-messages="frgtpwd.Email.$error" class="small text-danger text-left">
                            <div style="font-size: 14px;" >You must provide a Email</div>
                        </div>
                    
                    <button class="index-btn-sign-up btn btn-lg btn-primary " style="width:70%; margin-bottom:40px;" type="submit">Submit</button>


                </div>
            </form>
        </div>
       
      
    </div>
</div>
        </div>                    
    </ion-content>
</ion-view>