<style>
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
 .mobileheight{
    min-height:175px !important;
 }
 .modal-backdrop{
  background-color: rgba(1,1,1,0.7) !important
}
.modalbox{
  min-height:0px !important;
  width:270px; 
  height: 335px;
  left: 10%;
top: 15%;
box-shadow: 0px 0px 3px 2px #cacaca;
}
.i-padding{
  padding-top: 30%;
}
/* STYLES GO HERE */
}
@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) {

.modalbox{
  min-height:0px !important;
  width:270px; 
  height: 335px;
  left: 15%;
top: 15%;
box-shadow: 0px 0px 3px 2px #cacaca;
}

}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
.mobileheight{
    min-height:277px !important;
 }
.modal-backdrop{
  background-color: rgba(1,1,1,0.7) !important
}
.modalbox{
  min-height: 0px !important;
width: 500px;
height: 500px;
left: 17%;
top: 7%;
box-shadow: 0px 0px 3px 2px #cacaca;
}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
.modal-backdrop{
  background-color: rgba(1,1,1,0.7) !important;
}
.modalbox{
  width:400px; 
  height: 400px;
  left:38%;
  box-shadow: 0px 0px 3px 2px #cacaca;
}
.i-padding{
  padding-top: 5%;
}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */

}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */

}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */

}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */

}
.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.plusbutton{
  background-color: #2980b9;
  border-radius: 50%;
  border: 1px solid gray;  
}
.plusbutton:hover{
  background-color: #2980b9;
  }
.minusbutton{
  background-color: red;
  border-radius: 50%;
  border: 1px solid gray;  
}
.minusbutton:hover{
  background-color: red;
  }
h2{
  margin-top: 0px !important;
  margin-bottom: 35px !important;
}
.boxheader{
    background-color: #2980b9;
padding: 5px;
color: white;
text-align: center;
}
.overflow-scroll {
  overflow-y: hidden !important;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
.headerlogo{
    position: absolute;
left: 37%;
}
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
.headerlogo{
    position: absolute;
    left:47%;
}
}

@media only screen
and (min-device-width : 600px)
and (max-device-width : 1300px){
    .headerlogo{
        position: absolute;
    }
}


/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
position: absolute;
left: 47%;
}

@media only screen
and (min-device-width : 1225px)
and (max-device-width : 1823px)
{
/* STYLES GO HERE */
.headerlogo{
    position: absolute;
   left: 47%;
}
}






/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
.headerlogo{
    position: absolute;
    left: 45%;
}
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
.headerlogo{
    position: absolute;
    left:40%;
}
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */

}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */

}
</style>

<ion-view>
    <ion-content>  
   <nav class="mobile-nav clearfix">
    <div id="mobile-nav-bar">

        <span style="color:white;">Welcome <span style="padding-left: 10px;">{{loggedInUser.Username}}</span></span>

       <!--  <a class="headerlogo" ><img alt="logo" src="img/logo-2.png" style="width: 100px !important;"></a> -->
    <button ng-show="mobileMenuShowBackBtn" type="button" id="go-back-btn" ng-click="goBack()"><i class="fa fa-chevron-left"></i></button>
        <button type="button" id="nav-trigger-btn" ng-click="showMobileNavMenu()"><img src="img/menu-icon.png"></button>
        <div id="nav-page-title">
          <span id="nav-page-title-main" ></span>
        
        </div>
    </div>
<div id="mobile-page-overlay" ng-click="hideMobileNavMenu()"></div>
    <div id="mobile-nav-menu">
        <div class="mobile-nav-menu-inner">
            <div class="menu-section">
                <div class="menu-user" style="color: black;">
                    <img class="pro-img" ng-src="{{loggedInUser.Image == undefined ? 'img/user.jpg' : loggedInUser.Image}}" height="100px" width="100px" style="width:100px !important;">
                    {{loggedInUser.Username}}
                </div>
            </div>
            <div class="menu-section">
                <span class="section-title">Record</span>
                <ul class="nav">
                    <li class="nav-left"><a ui-sref="createIncome" ><i class="fa fa-plus fa-fw text-success"></i> New Income</a></li>
                    <li class="nav-left"><a ui-sref="createExpense" ><i class="fa fa-plus fa-fw text-success"></i> New Expense</a></li>
                </ul>
            </div>
            <div class="menu-section">
                <span class="section-title" ui-sref="dashboard" >Dashboard</span>
                <ul class="nav">
                    <li class="nav-left"><a ui-sref="result"><i class="fa fa-bar-chart fa-fw text-success"></i> Results</a></li>
                    <li class="nav-left"><a ui-sref="diary"><i class="fa fa-calendar fa-fw text-success"></i> Diary</a></li>
                    <li class="nav-left"><a ui-sref="connect"><i class="fa fa-certificate fa-fw text-success"></i> Connect</a></li>
                </ul>
            </div>
            <div class="menu-section">
                <span class="section-title">Settings</span>
                <ul class="nav">
                    <li class="nav-left"><a ui-sref="settings"><i class="fa fa-cog fa-fw text-success"></i> Settings</a></li>
                    <li class="nav-left"><a ui-sref="about"><i class="fa fa-question fa-fw text-success"></i> About</a></li>
                    <li class="nav-left"><a ui-sref="logout"><i class="fa fa-sign-out fa-fw text-success"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
        <div class="container tbl-container" id="main-content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="col-sm-12" style="padding-top: 8%;">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <a class="btn dash-btn btn-block mobileheight" ng-click="openModal()"><i class="fa fa-plus  i-padding"></i>
                            <h2>New</h2></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
                            <a class="btn dash-btn btn-block dash-2 mobileheight" ui-sref="result"><i class="fa fa-bar-chart i-padding" ></i>
                            <h2>Results</h2></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <a class="btn dash-btn btn-block dash-3 mobileheight"  ui-sref="connect"><i class="fa fa-certificate  i-padding" ></i>
                            <h2>Connect</h2></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <a class="btn dash-btn btn-block dash-4 mobileheight" ui-sref="diary"><i class="fa fa-calendar  i-padding" ></i>
                            <h2>Diary</h2></a>
                        </div>
                    </div><!-- dashboard -->
                   <!--  <div class="box-footer clearfix">
                        <a class="index-btn-sign-up btn btn-sm btn-info btn-flat pull-right" ui-sref="createIncome" >Enter Income</a> 
                        <a class="index-btn-sign-up btn btn-sm btn-info btn-flat pull-left" ui-sref="createExpense" >Enter Expense</a>
                    </div> -->
                </div><!-- /.box-body -->
            </div><!-- container -->
        </div>        
    </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view class="modalbox">
   
    <ion-content>
      <div class="modal-body" style="padding:0px;">
        <div class="boxheader">Welcome <span style="padding-left: 10px;">{{loggedInUser.Username}}</span></div>  


      <div style="text-align: center;padding-top: 45px;">
            <a class="btn btn-primary  plusbutton"  ng-click="incomebuttonclick()">
         <i class="fa fa-plus" aria-hidden="true" style="color: white;
font-size: 25px;"></i>
        </a>
         </div>
          <div style="text-align: center; font-size: larger;padding-top:5px;">
            Income
         </div>

           <div style="text-align: center;padding-top: 45px;">
            <a class="btn btn-primary  minusbutton"  ng-click="expensebuttonclick()">
         <i class="fa fa-minus" aria-hidden="true" style="color: white;
font-size: 25px;"></i>
        </a>

         </div>
          <div style="text-align: center;font-size: larger;padding-top:5px;">
            Expense
         </div>
         </div>   
    </ion-content>
  </ion-modal-view>
</script>