 #mobile-nav-bar {background: #2980B9; padding: 10px 15px; margin-bottom: 20px; position: fixed; left: 0; top: 0; right: 0; z-index: 99;}
 #mobile-nav-bar #nav-trigger-btn, .isMobileApp #mobile-nav-bar #go-back-btn  {outline: none; background: none; border: none; padding: 0px;}
 #mobile-nav-bar #nav-trigger-btn img {max-height: 15px; vertical-align: initial;}
 #mobile-nav-bar #go-back-btn .fa  {color: #fff; vertical-align: middle;}
 #mobile-nav-bar #nav-page-title {display: inline-block; color: #fff; padding-left: 30px;}
 .mobile-nav #mobile-nav-menu {
    position: absolute;
    top: 0px;
    left: -300px;
    bottom: 0;
    width: 230px;
    background: #fff;
   
    color: #808080;
    z-index: 99;
    padding-bottom: 50px;
}
.mobile-nav #mobile-nav-menu a {color:black; display: block; padding: 10px 0;}
 .mobile-nav #mobile-nav-menu .menu-user { margin-bottom: 10px;}

 #main-content {padding-top: 70px;}
